.whole-window{
  background-color: var(--grey-background);
  width: 1000px;
  height: 600px;
  border-radius: 20px;
}

.top-bar{
  background-color: var(--grey-top-bar);
  width: 1000px;
  height: 50px;
  border-radius: 20px 20px 0 0 ;
  display: flex;
}
.round{
  border-radius: 100%;
}

.red{
  background-color: var(--red);
  height: 30px;
  width: 30px;
  margin-top: 10px;
  margin-left: 20px;
}

.yellow{
  background-color: var(--yellow);
  height: 30px;
  width: 30px;
  margin-top: 10px;
  margin-left: 20px;
}

.green{
  background-color: var(--green);
  height: 30px;
  width: 30px;
  margin-top: 10px;
  margin-left: 20px;
}