.whole-window{
  background-color: var(--grey-background);
  width: 60vw;
  height: 63vh;
  border-radius: 20px;
}

.top-bar{
  background-color: var(--grey-top-bar);
  width: 60vw;
  height: 50px;
  border-radius: 20px 20px 0 0 ;
  display: flex;
}
.round{
  border-radius: 100%;
}

.red{
  background-color: var(--red);
  height: 30px;
  width: 30px;
  margin-top: 10px;
  margin-left: 20px;
}

.yellow{
  background-color: var(--yellow);
  height: 30px;
  width: 30px;
  margin-top: 10px;
  margin-left: 20px;
}

.green{
  background-color: var(--green);
  height: 30px;
  width: 30px;
  margin-top: 10px;
  margin-left: 20px;
}

.header-link{
  text-decoration: none;
  color: white;
  font-size:  calc(1rem + 1.5vw);
}
.text-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 53vh;
  padding: auto;
}

#line-0{
  color:var(--light-blue);
  text-align: start;

}
#line-1{
  color:white;
  text-align: start;

}
#line-2{
  color:white;
  text-align: start;

}
#line-3{
  color:white;
  text-align: start;

}
#line-4{
  color:white;
  text-align: start;

}
#line-5{
  color:white;
  text-align: start;
}
#line-6{
  color:white;
  text-align: start;

}
#line-7{
  color:white;
  text-align: start;
}
#line-8{
  color:white;
  text-align: start;
}

.text-content{
  display: flex;
  flex-direction: column;
}

.open-rf{
  padding-right: 39rem;
  font-size: calc(1rem + 1.5vw);
  color: white;
}
.close-rf{
  padding-right: 39rem;
  font-size: calc(1rem + 1.5vw);
  color: white;
}

@media only screen and (max-width: 1000px) {  

  .whole-window{
    width: 90vw;
  }

  .top-bar{
    width: 90vw;
  }

  .open-rf, .close-rf{
    padding-right: 70vw;
  }

  .text-content{
    gap: 5px;
  }

}