header{
  text-align: center;
  background-color:var(--dark-blue);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  gap: 50px;
}
.header-title{
  width: 100vw;
}
.header-name{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-blue);
  color: var(--dark-blue);
  height: 100px;
  font-size: 3.4rem;
}
.header-position{
  color: var(--white);
  font-size: 4.2rem;
  margin-top:10px;
}

@media only screen and (max-width: 1000px) {  
  .header-name{
    font-size: 2.4rem;
  }
  .header-position{
    font-size: 2.8rem;
    padding-top: 15px;
  }
}