:root{
  --dark-blue : #000D2D;
  --light-blue: #B4DBFF;
  --white: #ffff;
  --blue-button: #0047FF;
  --grey-background: #575757;
  --grey-top-bar: #838383;
  --red: #FF3232;
  --yellow: #FFD338;
  --green: #29BF26;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}