.section-about-me{
  display: flex;
  background-color: var(--light-blue);
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.about-me-title{
  background-color: var(--light-blue);
  color: var(--dark-blue);
  text-align: center;
  padding-top: 80px;
  font-size: calc(1.4rem + 1.5vw)
}

.manny-image{
  width: 30vw;
  border-radius: 100%;
  border: 5px solid var(--dark-blue);
}

.section-paragraphs{
  display: flex;
  flex-direction: column;
  width: 50vw;
  justify-content: center;
  text-align: center;
  padding: 80px;
  font-size: calc(.5rem + 1.3vw);
  font-weight: bold;
  gap: 10px;
}
.section-image{
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media only screen and (max-width: 1000px) {  
  .section-about-me{
    flex-direction: column;
    gap: 0;
  }
  
  .section-image{
    padding-top: 20px;
  }
  
  .section-paragraphs{
    padding: 20px 0;
    width: 90vw;
    font-size: calc(.75rem + 1.3vw);
  }
}